<div layout="row">
    <!--  Item 1 | Row -->
    <div flex>
        <h1 class="md.title">Full Stack Web Development, from Databases to Angular.  </h1>
        <p class="md-subhead">My sub Title for this goes here</p>
    </div>
</div>
<div class="row center">
    <div class="col-md-12 col-lg-12">
        <div layout="row" layout-align="center center">
    <div flex>
        <md-button class="md-fab" aria-label="Eat cake">
            <md-icon md-svg-src="img/icons/cake.svg"></md-icon>
        </md-button>
    </div>
    <div flex>
         <md-button class="md-fab" aria-label="Eat cake">
            <md-icon md-svg-src="img/icons/cake.svg"></md-icon>
        </md-button>
    </div>
    <div flex hide-sm>
         <md-button class="md-fab" aria-label="Eat cake">
            <md-icon md-svg-src="img/icons/cake.svg"></md-icon>
        </md-button>
    </div>
</div>
        
    </div>
</div> 

